{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main_content %}
<form action="" class="w-50 mx-auto bg-white border border-1" style="margin-top: 70px;" method="post">
    <div class="mx-auto my-3" style="width: 60%;">
    <h4 class="my-3">Reset Password</h4>
        {% csrf_token %}
        {{ form|crispy }}
        <p class="text-muted">check your email and enter through the link provided</p>
        <button class="btn btn-success">submit</button>
    </div>
</form>
{% endblock main_content %}