{% extends '../accounts/profile/settingsEdit.html' %}
{% load crispy_forms_tags %}
{% block changeable %}
    <div class='container py-3 pb-2 w-50 my-5'>
    {% block formChange %}
        <h4 class="mb-3">Change Password</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-success form-control">SUBMIT</button>
        </form>
    {% endblock formChange %}
    </div>
{% endblock changeable %}
{% block pageScript %}{% endblock pageScript %}