{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block main_content %}
    <div style="width: 25%; margin: 100px auto 0;" class="form-group bg-white p-5 border border-5">
        {% block toComplete %}
            {% if validlink %}
                <h1>Reset your password</h1>
                <p>Please enter your new password twice:</p>
                <form action="." method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <p><input type="submit" value="Change my password" class="btn btn-success"/></p>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</p>
            {% endif %}
        {% endblock toComplete %}
    </div>
{% endblock %}